
.dbf-navigator-cancelled {
  text-decoration: line-through;
  opacity: 0.5;
}


.dbf-navigator-delay {
  color: #ff5555;
  font-weight: 400;
}


.dbf-navigator-realdeparture {
  color: #ceff99;
  font-weight: 400;
}


.dbf-navigator-container {
  text-align: left;
}


.dbf-navigator-container h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 400;
}


.dbf-navigator-table {
  border-collapse: collapse;
  width: 100%;
}


.dbf-navigator-table thead th {
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
  padding: 0 5px 2px 0;
}


.dbf-navigator-table td {
  padding: 2px 5px 1px 0;
  font-size: 0.9em;
  line-height: 1.2em;
}


.dbf-navigator-table td:nth-last-child(2),
.dbf-navigator-table td:last-child {
  text-align: right;
  white-space: nowrap;
}


.dbf-navigator-container table td,
.dbf-navigator-container table th {
  vertical-align: middle;
}
