<div class="dbf-navigator-container">
  <h2>{{from}}</h2>
  <table class="dbf-navigator-table">
    <thead>
      <tr>
        {% if displayFromColumn %}
          <th>{{header.from}}</th>
        {% endif %}
        <th>{{header.train}}</th>
        <th>{{header.destination}}</th>
        <th>{{header.departure}}</th>
        <th style="text-align: end;">{{header.in}}</th>
      </tr>
    </thead>

    <tbody>
      {% set total = trains | length %}
      {% set fadePoint = 0.25 %}

      {% for train in trains %}
        {% set opacity = 1 %}
        {% if total > 0 and fadePoint < 1 %}
          {% set startingPoint = total * fadePoint %}
          {% set steps = total - startingPoint %}
          {% if loop.index0 >= startingPoint and steps > 0 %}
            {% set currentStep = loop.index0 - startingPoint %}
            {% set opacity = 1 - (1 / steps) * currentStep %}
          {% endif %}
        {% endif %}

        <tr class="{{ "dbf-navigator-cancelled" if train.cancelled else "" }}"
            style="opacity: {{ opacity }};">

          {% if displayFromColumn %}
            <td>{{ train.from }}</td>
          {% endif %}

          <td>
            {{ train.name }}
          </td>

          <td>
            {{ train.destination }}
          </td>

          <td>
            {{ train.scheduledDeparture }}
            {% if train.delay > 0 %}
              <span class="dbf-navigator-delay">+{{train.delay}}</span>
            {% endif %}
            {% if train.showRealDeparture %}
              <br/>
              <span class="{{ "dbf-navigator-delay" if train.delay > 8 else "dbf-navigator-realdeparture" }}">
                {{ train.realDeparture }}
              </span>
            {% endif %}
          </td>

          <td>({{ train.relativeTime }})</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>